<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/databaseStyles.css">
    
</head>
<body>
    <h2>Database</h2>
    <table>
        {% if rows %}
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Job</th>
            </tr>
            {% for row in rows %}
                <tr>
                    <td>
                        <form method='post' action="{{ url_for('delete', the_id=row.id) }}">
                            <label>{{ row.id }}</label>
                            <input type="checkbox" name="remove">
                            <br>
                            <input type="submit" value="DELETE">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='name') }}">
                            <label>{{ row.name }}</label>
                            <input type="text" name="name" placeholder="Edit Name">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='phone') }}">
                            <label>{{ row.phone }}</label>
                            <input type="text" name="phone" placeholder="Edit Phone Number">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>
                    
                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='email') }}">
                            <label>{{ row.email }}</label>
                            <input type="text" name="email" placeholder="Edit Email">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='job') }}">
                            <label>{{ row.job }}</label>
                            <input type="text" name="job" placeholder="Edit Job">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>
                    
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <br>
    <button><a href="{{ url_for('index') }}">Enter New User</a></button>
</body>
</html>