<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register for this Conference</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="container">

    <header>
      <h1>Conference</h1>
    </header>

    <form method="POST" action="{{ url_for('submitted') }}">
      {{ form.csrf_token }}
      {{ form.name.label }}
      {{ form.name }}
      {{ form.phone.label }}
      {{ form.phone }}
      {{ form.email.label }}
      {{ form.email }}
      {{ form.job.label }}
      {{ form.job }}
      <button type="submit">Register</button>
    </form>
    <button><a href="{{ url_for('view_database') }}">View Database</a></button>
	</div>
</body>
</html>