<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register for this Conference</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="container">
    
    <header>
      <h1>Thank you for Registering!</h1>
      <button><a href="{{ url_for('index') }}">Enter New User</a></button>
      <br>
      <button><a href="{{ url_for('view_database') }}">View Database</a></button>
    </header>


	</div>
</body>
</html>